Learning Path Generator.json
{
  "name": "Learning Path Generator",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "87bd0049-cde2-4a7e-b22e-b6dd2360ff37",
      "name": "When chat message received",
      "webhookId": "c74a5aa0-4464-4d1c-9b0e-3a96e833247f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You generate learning paths.\n\nInput: topic, days, optional start date.\n\nStart date:\n\n* tomorrow → tomorrow\n* next Monday → next Monday\n* specific date → use it\n* otherwise → {{$now.format('YYYY-MM-DD')}}\n\nTasks:\n\n1. Create a beginner-to-advanced day-wise curriculum.\n2. Use SerpAPI max 2 times to find videos, articles, and docs.\n3. Create one Google Doc titled \"[Days]-Day [Topic] Learning Path\".\n4. Update the Doc once with all days:\n\n   * Topic\n   * Short description\n   * 3 key points\n   * Video URL\n   * Article URL\n   * Duration: 2 hours\n5. Create one Google Calendar event per day:\n\n   * Start: 11:00 AM IST\n   * End: 1:00 PM IST\n   * Date = Start Date + (Day-1)\n   * Summary: Day X: Topic\n   * Description: Day content\n6. Return:\n\n   * Google Doc URL\n   * Number of events created\n   * Start and end dates\n\nRules:\n\n* SerpAPI ≤ 2 calls\n* Create Doc once\n* Update Doc once\n* Create events individually\n* Never leave summary or description empty\n* Stop after final response\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        408,
        0
      ],
      "id": "6fc76547-6943-4eb7-9b7a-726008ae7315",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        224,
        224
      ],
      "id": "c71d62ab-1464-4b23-8d8c-df77bfbf9a93",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "2v8yNeVKX8KsD7PB",
          "name": "Google Gemini(PaLM) Api account 9657"
        }
      }
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"
            },
            {
              "name": "location",
              "value": "Austin, Texas, United States"
            },
            {
              "name": "google_domain",
              "value": "google.com"
            },
            {
              "name": "hl",
              "value": "en"
            },
            {
              "name": "gl",
              "value": "us"
            },
            {
              "name": "api_key",
              "value": "0b5e019b61bf406ef5ece5b2639baffa084dd4afa371e4fbf465af86ecd478c7"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        352,
        224
      ],
      "id": "4d78a1ce-e3db-41dc-ad91-9136c6f0426a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        0,
        328
      ],
      "id": "4e6226d2-6de6-46af-93c6-e39aeb56c659",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "vC212HvrqIwYEUQB",
          "name": "Groq account 142"
        }
      }
    },
    {
      "parameters": {
        "folderId": "default",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        480,
        224
      ],
      "id": "888183a7-dc11-444a-a56a-d84cdaed0dbb",
      "name": "Create a document in Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "SShqs6ryQaRHpLo8",
          "name": "Google Docs account 886"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields0_Text', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        608,
        224
      ],
      "id": "1acdcf78-e805-4b63-ae11-1ac6c80c9038",
      "name": "Update a document in Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "SShqs6ryQaRHpLo8",
          "name": "Google Docs account 886"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "sriramabburi11@gmail.com",
          "mode": "list",
          "cachedResultName": "sriramabburi11@gmail.com"
        },
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        736,
        224
      ],
      "id": "dcd2f9cd-98b4-4f30-93a8-23a5c619f374",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ImSDODRbIdnuWlru",
          "name": "Google Calendar account 781"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Create a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "59a9d843-4f61-4cff-b632-de2cc3624335",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "969257b09ad2942bbaff2e2288304f4969030574d109cdeca05bf11f630884df"
  },
  "id": "KfPcv2mPrKxKMNw3",
  "tags": []
}